@import 'tailwindcss';

@layer utilities {
    .greyBtn {
        @apply bg-blue-500 text-white py-2 px-4 rounded;
    }
    .baseAppShadow {
        @apply bg-blue-500 text-white py-2 px-4 rounded;
    }
    .mainBg {
        @apply bg-blue-500 text-white py-2 px-4 rounded;
    }
    .secondaryBg {
        @apply bg-blue-500 text-white py-2 px-4 rounded;
    }
}

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --color-main: black;
    --color-secondary: grey;
}

html, body, #root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
